{% extends 'base.html'%}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/categories.css')}}" type="text/css">
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h2 class="text-center">Competition Pitches</h2>
    <div class="card">

        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">SourceTitle</footer>
            </blockquote>
        </div>
    </div>
    <div class="card">

        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">SourceTitle</footer>
            </blockquote>
        </div>
    </div>
</div>
<!-- <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>A healthy snack food category disrupter, Hummus 2.0</p>
                        <footer class="blockquote-footer"><cite title="Source Title">SourceTitle</cite></footer>
                        <small style="float: right;" style="cursor: pointer !important" onclick="toggleDetails()">See Details</small>
                    </blockquote>
                </div>
                <div class="card-footer text-muted" id="details">
                    <small>Submitted by &nbsp;&nbsp;<b style=color:black>submitter</b> &nbsp;&nbsp;on days</small><br>
                    <div id="downVote" style="display: inline">0</div>;&nbsp;&nbsp;<i class="fas fa-thumbs-down vote" onclick="downVote()"></i>&nbsp;&nbsp;
                    <div id="upVote" style="display: inline">0</div>&nbsp;&nbsp;<i onclick="upVote()" class="fas fa-thumbs-up vote"></i>&nbsp;&nbsp;
                  </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>TVW helps individuals and companies to offset their CO2 emissions</p>
                        <footer class="blockquote-footer">SourceTitle</footer>
                    </blockquote>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>DEF imports and distributes solar lighting products to rural households</p>
                        <footer class="blockquote-footer">SourceTitle</footer>
                    </blockquote>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Kyral makes it easy to find, share and organize office documents on your company network using search and tagging.</p>
                        <footer class="blockquote-footer">SourceTitle</footer>
                    </blockquote>
                </div>
            </div> -->
{% endblock %}