.row{
    margin-top: 1%;
    margin: 5%;
}
.jumbotron{
    vertical-align: middle;
    border-radius: 10px;
    background-color: #14213d;
    box-shadow: 0 0.2rem 0.5rem #1d2d50;
    padding: 0 !important;

    /* display: flex;
    flex-wrap: wrap; */
}
.jumbotron p{
    font-size: 14px;
}
#white{
    margin: 3%;
    box-shadow: 0 0.2rem 0.5rem #14213d;
    border-radius: 10px;
    background-color: white;
    padding: 1%;
    z-index: 10;
}
.comments{
    margin: 3%;
    color: white;
}
.blockquote p{
    font-size: 14px;
}
.blockquote a, .comments p{
    font-size: 12px;
}
blockquote footer:before, blockquote small:before {
    content: none;
}
.commenter{
    color: inherit;
}
@media (min-width: 768px){
    .blockquote p{
        font-size: 14px;
    }
}