<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card" style="width: 25rem;">
        <div class="card-body">
          <div class="card-text">
            <h4>Hello {{user.username.capitalize()}}</h4>
            <p>Welcome to Pitch.</p>
            <p>Thanks for registering an account on Pitch. We're excited to see you join the community! As a member of Pitch, you get access to various pitches in the business world and a chance to contribute too. We hope the application helps you come up with great pitches.</p>
            <p>Please enjoy the many pitches, comment on them and add your own!</p>
            <p>Kind regards,<br>Pitch Management</p>
          </div>
        </div>
    </div>
</body>
</html>