{% extends 'base.html'%}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/categories.css')}}" type="text/css">
{% endblock %}
{% block content %}
<h2 class="text-center">{{category_name}} Pitches</h2>
<hr style="width: 50%;">
<div class="introduction">
  {% if category_name == "Twitter"%}
  <h4 class="text-center">What is a Twitter Pitch?</h4>
  <p class="card-text">A Twitter pitch is one that summarizes your whole idea in one punchy sentence. Your tweet pitch
    should explain what problem is being solved or what the solution might be. This is best for when you meet someone at
    an event and they have never heard of your company and is used to gauge your audience's receptiveness.</p>
  {% if pitches %}
  <p>Below are examples to inspire you. Vote and comment on whichever captures your attention.</p>
  {%else%}
  <div>
    <p><b>There are no pitches in this category</b></p>
    <a href="{{url_for('main.new_pitch', uname=current_user.username)}}">Add a Pitch</a>
  </div>
  {%endif%}

  {%elif category_name == "Elevator"%}
  <h4 class="text-center">What is an Elevator Pitch?</h4>
  <p class="card-text">The idea is that this pitch should last as long as an elevator ride, that is between 15 seconds
    and a couple of minutes. To craft a good elevator pitch, take the following things into consideration:
    <ul>
      <li>Define the goal of your pitch</li>
      <li>Explain briefly but clearly what you do</li>
      <li>Communicate your USP - Unique Selling Point</li>
      <li>Engage the listener with one good question</li>
    </ul>
  </p>
  {% if pitches %}
  <p>Below are examples to inspire you. Vote and comment on whichever captures your attention.</p>
  {%else%}
  <div>
    <p><b>There are no pitches in this category</b></p>
    <a href="{{url_for('main.new_pitch', uname=current_user.username)}}">Add a Pitch</a>
  </div>
  {%endif%}

  {%elif category_name == "Competition"%}
  <h4 class="text-center">What is a Competition Pitch?</h4>
  <p class="card-text">This is longer than Elevator and Twitter pitches. It needs to be presented with a pitch deck. The
    deck you will be building is very similar to the one you would use to send to investors. The pressure is high and
    you have a limited amount of time to catch everyone’s attention. You need to make the most out of it.</p>
  {% if pitches %}
  <p>Below are examples to inspire you. Vote and comment on whichever captures your attention.</p>
  {%else%}
  <div>
    <p><b>There are no pitches in this category</b></p>
    <a href="{{url_for('main.new_pitch', uname=current_user.username)}}">Add a Pitch</a>
  </div>
  {%endif%}

  {%elif category_name == "Investor"%}
  <h4 class="text-center">What is an Investor Pitch?</h4>
  <p class="card-text">To present this, one would use a media deck to deliver their message. When talking with
    investors,
    make sure to spend time on the problem, solution (unique technology) and, of course, traction. This is THE pitch
    that you need to get ready for the most. The people in front of you are the ones that could give you money to
    transform your dream
    into reality. </p>
  {% if pitches %}
  <p>Below are examples to inspire you. Vote and comment on whichever captures your attention.</p>
  {%else%}
  <div>
    <p><b>There are no pitches in this category</b></p>
    <a href="{{url_for('main.new_pitch', uname=current_user.username)}}">Add a Pitch</a>
  </div>
  {%endif%}

  {%endif%}
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <!--Flash message -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% if pitches %}
    {% for pitch in pitches %}
    <div class="jumbotron">
      <div class="card" id="white">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <h4 class="card-title" style="color: white;">{{pitch.title}}</h4>
            <p>{{pitch.pitch_content}}</p>
            <footer class="blockquote-footer">- {{pitch.pitcher.username}}</footer>
            <small style="float: right;" style="cursor: pointer !important"><a href="/comment/{{pitch.id}}"> Add a
                Comment</a></small>
          </blockquote>
        </div>
        <div class="card-footer text-muted" id="details">
          <small>Submitted on {{pitch.posted.strftime('%Y-%m-%d')}}</small><br>
          <a href="{{url_for('main.upvote', uname = current_user.id ,pitch_id = pitch.id)}}"><button
              class="btn my-2 my-sm-0">{{pitch.upvotes}}&nbsp;<i
                class="fas fa-thumbs-up"></i>&nbsp;like</button></a>&nbsp;&nbsp;
          <a href="{{url_for('main.downvote', uname = current_user.id ,pitch_id = pitch.id)}}"><button
              class="btn my-2 my-sm-0">{{pitch.downvotes}}&nbsp;<i
                class="fas fa-thumbs-up"></i>&nbsp;dislike</button></a>&nbsp;&nbsp;
        </div>
      </div>
      {% for comment in comments %}
      {%if comment.pitch_id == pitch.id %}
      <div class="card comments">
        <div class="card-body">
          <p class="card-text">{{comment.comment_content}}</p>
          <small class="commenter" style="float: right;">Comment By {{comment.author.username}}</small>
          <br>
          <hr style="width: 70%;">
        </div>
      </div>
      {% endif %}
      {% endfor%}
    </div>
    {% endfor%}
    {%endif%}
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}