{% extends 'base.html'%}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/categories.css')}}" type="text/css">
{% endblock %}
{% block content %}
<h2 class="text-center">{{category_name}} Pitches</h2>
<hr style="width: 50%;">
    <div class="introduction">
    {% if category_name == "Twitter"%}
    <h4 class="text-center">What is a Twitter Pitch?</h4>
    <p class="card-text">A Twitter pitch is one that summarizes your whole idea in one punchy sentence. Your tweet pitch should explain what problem is being solved or what the solution might be. This is best for when you meet someone at an event and they have never heard of your company and is used to gauge your audience's receptiveness.</p>
    {%endif%}
    </div>
<div class="row">
  <!--Flash message -->
  {% for message in get_flashed_messages() %}
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% if pitches %}
      {% for pitch in pitches %}
      <div class="jumbotron">
        <div class="card" id="white">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{pitch.pitch_content}}</p>
              <footer class="blockquote-footer">- {{pitch.pitcher.username}}</footer>
              <small style="float: right;" style="cursor: pointer !important"><a href="/comment/{{pitch.id}}"> Add a Comment</a></small>
            </blockquote>
          </div>
          <div class="card-footer text-muted" id="details">
            <small>Submitted on {{pitch.posted.strftime('%Y-%m-%d')}}</small><br>
            <a href="{{url_for('main.upvote', uname = current_user.id ,pitch_id = pitch.id)}}"><button class="btn my-2 my-sm-0">{{pitch.upvotes}}&nbsp;<i class="fas fa-thumbs-up"></i>&nbsp;like</button></a>&nbsp;&nbsp;
            <a href="{{url_for('main.downvote', uname = current_user.id ,pitch_id = pitch.id)}}"><button class="btn my-2 my-sm-0">{{pitch.downvotes}}&nbsp;<i class="fas fa-thumbs-up"></i>&nbsp;dislike</button></a>&nbsp;&nbsp;
          </div>
        </div>
        <!-- <h5 class="text-center" style="color: white;"><b>Comments</b></h5> -->
          {% for comment in comments %}
            {%if comment.pitch_id == pitch.id %}
            {% if comments %}
            <h5 class="text-center">Comments</h5>
            {% endif %}
            <div class="card comments">
              <div class="card-body">
                <p class="card-text">{{comment.comment_content}}</p>
                <small class="commenter" style="float: right;">By {{comment.author.username}}</small>
                <br>
                <hr style="width: 70%;">
              </div>
            </div>
            {% endif %}
          {% endfor%}
      </div>
      {% endfor%}
      
    {%else%}
    <p id="nothing">There are no pitches in this category</p>
    <a href="{{url_for('main.new_pitch', uname=current_user.username)}}">New Pitch</a>
    {%endif%}
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}