{% extends 'base.html'%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" type="text/css">
{% endblock styles%}
<!-- Content block -->
{% block content %}
<div class="container text-center">
    <img src="{{url_for('static', filename='images/pitch3.jpg')}}" />
    <div class="text-content">
        <h1>Nobody likes to hear it, but the reason you win or lose is darn near always the same <br> - pitching.</h1>
        <h5>Earl Weaver</h5>
    </div>
</div>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>What is a pitch?</h2>
            <p>A pitch is a presentation of a business idea to a potential investor, cutomer or just a third party</p>
            <div class="jumbotron">
                <h1>How to make your pitch great</h1>
                <ul>
                    <li>Simple, clear and coincise</li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row types">
        <h2>Types of pitches</h2>
        <br>
        <div class="col-md-3">
            <div class="card" style="width: 25rem;">
                <h3>Elevator Pitch</h3>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 25rem;">
                <h3>Elevator Pitch</h3>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 25rem;">
                <h3>Elevator Pitch</h3>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 25rem;">
                <h3>Elevator Pitch</h3>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}