{% extends 'base.html'%}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/categories.css')}}" type="text/css">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <h2 class="text-center">Twitter Pitches</h2>
            <div class="card">

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>A healthy snack food category disrupter, Hummus 2.0</p>
                        <footer class="blockquote-footer">SourceTitle</footer>
                    </blockquote>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>TVW helps individuals and companies to offset their CO2 emissions</p>
                        <footer class="blockquote-footer">SourceTitle</footer>
                    </blockquote>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>DEF imports and distributes solar lighting products to rural households</p>
                        <footer class="blockquote-footer">SourceTitle</footer>
                    </blockquote>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Kyral makes it easy to find, share and organize office documents on your company network using search and tagging.</p>
                        <footer class="blockquote-footer">SourceTitle</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <h2 class="text-center">Elevator Pitches</h2>
            <div class="card">

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Ranchers are often frustrated by the effort it takes to hand-shear their angora alpacas. DroneClip eliminates the need to chase, restrain, and trim these beautiful beasts. For over 5 years, alpaca farmers have trusted DroneClip to provide the best solutions in alpaca ranching. With our safe and reliable drone aircraft, you can spend less time shearing and manage a larger herd. I’ll give you a call to learn more about your situation. Thanks for your time.</p>
                        <footer class="blockquote-footer">SourceTitle</footer>
                    </blockquote>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>“Do you hate shearing stubborn alpacas by hand? I’m Joe Neely from DroneClip. I enjoy connecting animal lovers to technologies like our DroneScoop waste solution. I’m here at the Alpaca Festival to learn from you, the experts. Our hands-free DroneClip shearing system outperforms hand-shears so you can limit your employee hours. We saved one rancher, Bob Mikabob, over 40 weekly work-hours. When can I visit your farm, demonstrate our product, and meet your neighbors?”</p>
                        <footer class="blockquote-footer">SourceTitle</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <h2 class="text-center">Competitor Pitches</h2>
            <div class="card">

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">SourceTitle</footer>
                    </blockquote>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">SourceTitle</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <div class="card">

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">SourceTitle</footer>
                    </blockquote>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">SourceTitle</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}